name: jsonpath
description: A Flutter plugin which support read on json string using json Path.
author: forked from <qhzhyt/dart-json-path>
homepage: https://github.com/Celeter/jsonpath_parse

version: 1.0.1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
